@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: black;
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  color: #ffffff;
}
header .nav-links {
  margin: 20px;
}

.home {
  background: url(images/gym-background.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 1.9;
}
.home-text {
  margin: 597px;
  font-size: large;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.about-img img {
  height: auto;
  max-width: 400px;
  border-radius: 4px;
  width: 100%;
  margin: 30px;
}

.about-content h4 {
  margin: 10px 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.about-content p {
  /* line-height: 20px;
  margin-bottom: 2rem; */
  float: left;
  font-weight: 500;
}
